{% extends 'base.html' %}
{% load staticfiles %}
{% load filter %}

{% block content %}
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Ultime
                        <strong>Ricette</strong>
                    </h2>
                    <hr>
                </div>
                {% for key, value in context.items %}
                <div class="col-lg-12 text-center">
                    <h2>{{ value.name }}
                        <br>
                        <img class="img-responsive img-border img-recipe" src="{{value.image.url}}" alt="">
                    </h2>
                    <center>
                      <table class="table table-hover" style="width:250px;">
                          <tr>
                            <td colspan="2">
                              <b>
                                <center>
                                  Ingredienti
                                </center>
                              </b>
                            </td>
                          </tr>
                          {% for i,j in value.items %}
                              {% if i == "ingredient" %}
                                {% for k in j %}
                                  {% if forloop.counter0|divisibleby:2 %}
                                   <tr>
                                     <td>{{k}}</td>
                                  {% else %}
                                     <td>{{k}}</td>
                                   </tr>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                          {% endfor %}
                          <tr>
                            <td>
                              <b>
                                Categoria
                              </b>
                            </td>
                            <td>{{ value.category }}</td>
                          </tr>
                          <tr>
                            <td>
                              <b>
                                Tipo di pasto
                              </b>
                            </td>
                            <td>{{ value.subcategory }}</td>
                          </tr>
                          <tr>
                            <td>
                              <b>
                                Difficoltà
                              </b>
                            </td>
                            <td>{{ value.difficulty }}</td>
                          </tr>
                          <tr>
                            <td>
                              <b>
                                Tempo di prep.
                              </b>
                            </td>
                            <td>{{ value.preparation_time_min }} (min)</td>
                          </tr>
                      </table>
                    </center>
                    <h2 class="intro-text text-center">Preparazione</h2>
                    <p class="para">{{ value.preparation }}</p>
                    <a href="{{ value.id }}" class="btn btn-default btn-lg">Leggi di più</a>
                    <hr>
                </div>
                {% endfor %}

                <div class="col-lg-12 text-center">
                  <a style="" class="btn btn-primary glyphicon" href="/addRecipe">Aggiungi Nuova Ricetta</a>

                </div>
            </div>
        </div>
{% endblock %}
